@import "base.css";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  main                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.row{
    width: 100%;
    display: flex;
    justify-content: center;


}
.col2, .col2-1{
    width: 100%;
    height: 200px;
    margin: 35px 0px;
}
.col2-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 210px);
}
.col2-1 div h2{
    font-weight: 400;
    font-size: 45px;
}
.col2-1 div p{
    margin-top: 20px;
}
.col2 + .col2{
    margin-left: 50px;
}

.shadow{
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 20px 48px 0 rgba(59, 69, 152, 0.1);
    height: 200px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  map                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.map{
    width: 100%;
    height: calc(100vh - 210px);
    background-color: rebeccapurple;

    
}
